---
---

.icon-configuracion {
    background-image: url(/assets/icons/svg/settings.svg);
}

.icon-twitter {
    background-image: url(/assets/icons/svg/twitter.svg);
}

.icon-facebook {
    background-image: url(/assets/icons/svg/facebook.svg);
}

.icon-instagram {
    background-image: url(/assets/icons/svg/instagram.svg);
}

.icon-youtube {
    background-image: url(/assets/icons/svg/youtube.svg);
}

.icon-github {
    background-image: url(/assets/icons/svg/github.svg);
}

.icon-rss {
    background-image: url(/assets/icons/svg/rss.svg);
}

.footer {
    text-align: center;
    margin-bottom: 20px;

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline;
            background-repeat: no-repeat;
            background-position: center;
            padding: 5px 0;

            a {
                display: inline-block;
                height: 30px;
                width: 30px;
            }
        }
    }
}

