---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post" id="post{{ forloop.index }}">
  {% capture src %}
  {% include get_image_post_src.html %}
  {% endcapture %}
  {% assign src = src | strip %}
  <img class="post_image" src="{{src}}"/>
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
	{% include fecha.html %}
  </time>

   <span class="tag_article">
    {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code><nobr>{{ tag_name }}</nobr></code></a>
    {% endfor %}
    {% for category in post.categories %}
      {% capture category_link %}
          {% for site_category in site.data.categories %}{% if category == site_category.slug %}{{ site_category.name }}{% endif %}{% endfor %}
      {% endcapture %}
      {% assign category_link = category_link | strip %}
      <a href="/categoria/{{ category_link }}"><code><nobr>{{ category }}</nobr></code></a>
    {% endfor %}
   </span>
  </article>
    <script>
        var post_article=document.getElementById("post{{ forloop.index }}");
        for (i = 0; i < post_article.getElementsByTagName("img").length; i++) {
            if(post_article.getElementsByTagName("img")[i].getAttribute("alt")==null){
                post_article.getElementsByTagName("img")[i].setAttribute("alt","{{ post.title }}"+i);
            }
        }
    </script>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span class="sr-only">Página anterior</span></a>
  {% else %}
    <span class="pagination-item older"><span class="sr-only">Página anterior</span></span>
  {% endif %}
  <span class="numero_paginas">{{paginator.page}}/{{paginator.total_pages}}</span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span class="sr-only">Página siguiente</span></a>
  {% else %}
    <span class="pagination-item newer"><span class="sr-only">Página siguiente</span></span>
  {% endif %}
</div>
