---
layout: default
title: Home
thumbnail: /assets/icons/icon-192x192.png
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post" id="post{{ forloop.index }}">
  
  <img class="post_image" alt="{{ post.title }}" src="{% include get_image_post_src.html scope=post%}"/>
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
	{% include fecha.html scope=page%}
  </time>

  
  {% include tags.html scope=post %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span class="sr-only">Página anterior</span></a>
  {% else %}
    <span class="pagination-item older"><span class="sr-only">Página anterior</span></span>
  {% endif %}
  <span class="numero_paginas">{{paginator.page}}/{{paginator.total_pages}}</span>
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span class="sr-only">Página siguiente</span></a>
  {% else %}
    <span class="pagination-item newer"><span class="sr-only">Página siguiente</span></span>
  {% endif %}
</div>
