<h3>Deja tu comentario</h3>
<form id="comment-form" method="post" action="https://dev.staticman.net/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments">
  <fieldset>
    <label for="comment-form-message">Comentario</label>
    <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" ></textarea>
  </fieldset>
  <fieldset>
    <label for="comment-form-name">Nombre</label>
    <input type="text" id="comment-form-name" name="fields[name]"  />
  </fieldset>
  <fieldset>
    <label for="comment-form-email">Email</label>
    <input type="email" id="comment-form-email" name="fields[email]" />
  </fieldset>
  <fieldset class="hidden" style="display:none;">
    <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off"/>
  </fieldset>
  <fieldset>
    <button type="submit" id="comment-form-submit">Enviar</button>
  </fieldset>
  <div class="aviso hidden">
    <p class="aviso_texto"></p>
  </div>
</form>
<script> 

    var form=document.getElementById("comment-form");
    form.addEventListener("submit", function(evt){
    evt.preventDefault();

    var url="https://dev.staticman.net/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments"
    console.log("enviando comentario a "+url);
    //convertir form a urlsearchparams para mandar como application/x-www-form-urlencoded
    const data = new URLSearchParams();
    for (const pair of new FormData(form)) {
        data.append(pair[0], pair[1]);
    }
    fetch(url,{
        method:'POST',
        body:data
    })
    .then(res => res.json())
    .catch(function(error) { 
        console.log(error);
        showAlert(
          "Ha habido un error al enviar su comentario, vuelva a intentarlo."
        );})
    .then(function(response) { 
        console.log(reponse);
        showAlert(
          "Gracias por su comentario. Pendiente de moderación"
        );});
    return false;
  });

  function showAlert(message) {
    var aviso_div=document.querySelectorAll("comment-form .aviso")[0];
    var aviso_p=document.querySelectorAll("comment-form .aviso_texto")[0];
    aviso_div.classList.remove("hidden");
    aviso_p.html(message);
  }
</script>
