<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/assets/icons/icon-192x192.png">

  <meta property="og:image" content="{% include get_image_post_src.html scope=page %}" />

  <title>
    {%if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  {% seo title=false %}
</head>
