<ul class="header-nav-mobile">
    <li><button id="boton-menu" class="svg boton-menu"><span class="sr-only">Menú</span></button></li>
    <li><button id="boton-buscar" class="svg boton-buscar"><span class="sr-only">Buscar</span></button></li>
</ul>
<div id="sidebar_menu" class="menu side">
    <a href="/configuracion" class="svg boton boton-configuracion"><span class="sr-only">Configuración</span></a>
    <button id="boton-cerrar-menu" class="svg boton boton-cerrar"><span class="sr-only">Ocultar</span></button>
    <ul>
        {% assign tags = site.tag | sort: 'order' %}
        {%- for tag in tags -%}
            <li>
                <a href="{{ tag.url }}">{{ tag.title }}</a>
            {%- if tag.slug=="recetas" -%}   
                <ul>
                    {%- for category in site.category -%}
                        <li class="dropdown-menu-item"><a href="{{ category.url }}">{{ category.title }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {%- else -%}   
            </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</div>
<div id="sidebar_buscar" class="buscar side">
    <button id="boton-cerrar-buscar" class="svg boton boton-cerrar"><span class="sr-only">Ocultar</span></button>
    <div id="search-container-mobile" class="search-container">
        <label class="label_buscar" for="search-input-mobile">Buscar</label>
        <input type="text" id="search-input-mobile">
        <input type="checkbox" value="selected" id="toggle_filtros_mobile" class="toggle-input">
        <label for="toggle_filtros_mobile" class="toggle-label">Mostrar filtros</label> 
        <div id="div-filtros-mobile" class="toggle-content filtros">
            <button class="btn active todos" data-filter='all'>Todos</button>
            {%- for category in site.category -%}
                <button class="btn {{ category.slug }}" data-filter='{{ category.slug }}'>{{ category.title }}</button>
            {%- endfor -%}
        </div>
    </div>
    <div class="results">
      <ul id="results-container-mobile"></ul>
    </div>
</div>
