<div class="nav">
    <nav class="header-nav">
        <ul>
            {% assign tags = site.tag | sort: 'order' %}
            {%- for tag in tags -%}
                <li class="dropdown">
                    <a href="{{ tag.url }}">{{ tag.title }}</a>
                {%- if tag.slug=="recetas" -%}   
                    <ul class="dropdown-menu">
                        {%- for category in site.category -%}
                            <li class="dropdown-menu-item"><a href="{{ category.url }}">{{ category.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </li>
                {%- else -%}   
                </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </nav>
</div>

