<ul class="header-nav-mobile">
    <li><button id="boton-menu" class="boton-menu"><span class="sr-only">Menú</span></button></li>
    <li><button id="boton-buscar" class="boton-buscar"><span class="sr-only">Buscar</span></button></li>
</ul>
<div id="sidebar_menu" class="menu hide">
    <button id="boton-cerrar-menu" class="boton_cerrar"><span class="sr-only">Ocultar</span></button>
    <ul>
        <li><a href="/categoria/pintxos">Pintxos y aperitivos</a></li>
        <li><a href="/categoria/verduras">Verduras y hortalizas</a></li>
        <li><a href="/categoria/cremas">Cremas y sopas</a></li>
        <li><a href="/categoria/arroz">Arroz y pasta</a></li>
        <li><a href="/categoria/legumbres">Legumbres</a></li>
        <li><a href="/categoria/huevos">Huevos</a></li>
        <li><a href="/categoria/carnes">Carnes</a></li>
        <li><a href="/categoria/pescados">Pescados</a></li>
        <li><a href="/categoria/postres">Postres</a></li>
        <li><a href="/categoria/pan">Pan y masas</a></li>
    </ul>
</div>
<div id="sidebar_buscar" class="buscar hide">
    <button id="boton-cerrar-buscar" class="boton_cerrar"><span class="sr-only">Ocultar</span></button>
    <div id="search-container-mobile" class="search-container">
      <label for="search-input-mobile">Buscar</label>
      <input type="text" id="search-input-mobile">
      <button class="btn_filtros" onclick="mostrarFiltros(this)">Mostrar filtros</button>
      <div id="div-filtros-mobile" class="filtros">
          <button class="btn active todos" data-filter='all'>Todos</button>
          <button class="btn pintxos" data-filter='pintxos-y-aperitivos'>Pintxos y aperitivos</button>
          <button class="btn verduras" data-filter='verduras-y-hortalizas'>Verduras y hortalizas</button>
          <button class="btn cremas" data-filter='cremas-y-sopas'>Cremas y sopas</button>
          <button class="btn arroz" data-filter='arroz-y-pasta'>Arroz y pasta</button>
          <button class="btn legumbres" data-filter='legumbres'>Legumbres</button>
          <button class="btn huevos" data-filter='huevos'>Huevos</button>
          <button class="btn carnes" data-filter='carnes'>Carnes</button>
          <button class="btn pescados" data-filter='pescados'>Pescados</button>
          <button class="btn postres" data-filter='postres'>Postres</button>
          <button class="btn pan" data-filter='pan-y-masas'>Pan y masas</button>
      </div>
    </div>
    <div class="results">
      <ul id="results-container-mobile"></ul>
    </div>
</div>
