<ul class="header-nav">
    <li><button id="boton-menu" class="boton-menu"><span class="sr-only">Menú</span></button></li>
    <li><button id="boton-buscar" class="boton-buscar"><span class="sr-only">Buscar</span></button></li>
</ul>
<div id="sidebar_menu" class="menu_cerrado">
    <button id="boton-cerrar-menu" class="boton_cerrar"><span class="sr-only">Ocultar</span></button>
    <ul>
        <li><a href="/pintxos">Pintxos y aperitivos</a></li>
        <li><a href="/verduras">Verduras y hortalizas</a></li>
        <li><a href="/cremas">Cremas y sopas</a></li>
        <li><a href="/arroz">Arroz y pasta</a></li>
        <li><a href="/legumbres">Legumbres</a></li>
        <li><a href="/huevos">Huevos</a></li>
        <li><a href="/carnes">Carnes</a></li>
        <li><a href="/pescados">Pescados</a></li>
        <li><a href="/postres">Postres</a></li>
        <li><a href="/pan">Pan y masas</a></li>
    </ul>
</div>
<div id="sidebar_buscar" class="buscar_cerrado">
    <button id="boton-cerrar-buscar" class="boton_cerrar"><span class="sr-only">Ocultar</span></button>
    <div id="search-container" class="search-container">
      <label for="search-input">Buscar</label>
      <input type="text" id="search-input">
    </div>
    <div class="results">
      <ul id="results-container"></ul>
    </div>
</div>
