<div class="sidebar">
    <div role="search" id="search-container" class="search-container">
        <label for="search-input">Buscar</label>
        <input type="text" id="search-input">
        <input type="checkbox" value="selected" id="toggle_filtros" class="toggle-input">
        <label for="toggle_filtros" class="toggle-label">Mostrar filtros</label> 
          
        <div id="div_filtros" class="toggle-content filtros">
            <button class="btn active todos" data-filter='all'>Todos</button>
            <button class="btn pintxos" data-filter='pintxos-y-aperitivos'>Pintxos y aperitivos</button>
            <button class="btn verduras" data-filter='verduras-y-hortalizas'>Verduras y hortalizas</button>
            <button class="btn cremas" data-filter='cremas-y-sopas'>Cremas y sopas</button>
            <button class="btn arroz" data-filter='arroz-y-pasta'>Arroz y pasta</button>
            <button class="btn legumbres" data-filter='legumbres'>Legumbres</button>
            <button class="btn huevos" data-filter='huevos'>Huevos</button>
            <button class="btn carnes" data-filter='carnes'>Carnes</button>
            <button class="btn pescados" data-filter='pescados'>Pescados</button>
            <button class="btn postres" data-filter='postres'>Postres</button>
            <button class="btn pan" data-filter='pan-y-masas'>Pan y masas</button>
        </div>
    </div>
    <div role="complementary" class="results">
        <ul id="results-container"></ul>
    </div>
<!--    <div class="destacados">
        <ul>
            <li class="enlace_foto alfabetico">
                <p class="imagen"><a href="/recetas-indice-alfabetico/"><img src="https://1.bp.blogspot.com/-3BY84rvO9Ls/VzJB1EVu7fI/AAAAAAAACqc/QlgTIhhH0Lc9-dKbuG4IULvunAbUINUOACLcB/s1600/01.JPG" alt="indice alfabetico de recetas"/></a></p>
                <p class="texto"><a href="/recetas-indice-alfabetico/">A-Z</a></p>
            </li>
        </ul>      
</div>-->
</div>

