  <!--<div class="sidebar">
      <ul>
		<li class="enlace_foto alfabetico">
            <p class="imagen"><a href="/recetas-indice-alfabetico/"><img src="https://1.bp.blogspot.com/-3BY84rvO9Ls/VzJB1EVu7fI/AAAAAAAACqc/QlgTIhhH0Lc9-dKbuG4IULvunAbUINUOACLcB/s1600/01.JPG" alt="indice alfabetico de recetas"/></a></p>
            <p class="texto"><a href="/recetas-indice-alfabetico/">A-Z</a></p>
		</li>
		{% for tag in site.tags %}
        {% assign tagname=tag[0] %}
        <li class="enlace_foto">
            {% capture src %}
            {% include get_image_category.html param=tagname %}
            {% endcapture %}
            {% assign src = src | strip %}
            <p class="imagen"><a href="/tag/{{tagname | replace:' ','-'}}"><img src="{{ src }}" alt="{{ tagname }}"/></a></p>
            <p class="texto"><a href="/tag/{{tagname | replace:' ','-'}}">{{ tagname | capitalize }}</a></p>
		</li>
		{% endfor %}
      </ul>      
  </div>-->
