<span class="tag_article">
    {% for category in include.scope.categories %}
        {%- capture category_link -%}
        {%- for site_category in site.category -%}
            {%- if category == site_category.title -%}
                {{ site_category.url }}
            {%- endif -%}
        {%- endfor -%}
        {%- endcapture -%}
        <a href="{{ category_link }}"><span>{{ category }}</span></a>
    {% endfor %}
    {% for tag in include.scope.tags %}
        {%- capture tag_link -%}
        {%- for site_tag in site.tag -%}
            {%- if tag == site_tag.tag -%}
                {{ site_tag.url }}
            {%- endif -%}
        {%- endfor -%}
        {%- endcapture -%}
        <a href="{{ tag_link }}"><span>{{ tag }}</span></a>
    {% endfor %}
</span>
