// Clases comunes a todo 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: $root-font-family;
    font-size: $root-font-size;
    line-height: $root-line-height;

    @include for-tablet-portrait-up {
        font-size: $large-font-size;
    }
}

body {
    color: $body-color;
    background-color: $body-bg;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 0 1rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include for-tablet-portrait-up {
        width: 90%;
    }
    @include for-big-desktop-up {
        width: 80%;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}
