.icon-twitter{
    background-image: url(/assets/icons/svg/twitter.svg);
}

.icon-facebook{
    background-image: url(/assets/icons/svg/facebook.svg);
}

.icon-youtube{
    background-image: url(/assets/icons/svg/youtube.svg);
}

.icon-github{
    background-image: url(/assets/icons/svg/github.svg);
}

.icon-rss{
    background-image: url(/assets/icons/svg/rss.svg);
}

.footer{
    text-align: center;
    margin-bottom: 20px;
    ul{
        list-style-type: none;
        li{
            display: inline;
            background-repeat: no-repeat;
            background-position: center;
            a{
                display: inline-block;
                height: 30px;
                width: 30px;
            }
        }
    }
}

