//Header que incluye la navegación superior en móvil, con ambos sidebars

.header {
    @include for-phone-only {
        display: flex;
        align-items: center;
        padding: 16px 0;

        > img {
            height: 40px;
            margin-left:40px;
            margin-bottom: 0;
            filter: drop-shadow(3px 4px 4px rgba(0,0,0,0.5));
        }

        h1 {
            margin: 0;
            width: 75%;
            margin: auto;

            a {
                color: inherit;
            }
        }

        .header-nav {
            display: none;
        }

        .header-nav-mobile {
            list-style: none;
            padding: 0;

            li button {
                display: block;
                position: absolute;
                top: 30px; 
                background-repeat:no-repeat;
                background-color: transparent;
                background-size: 100%;
                padding:0;
                border:none;
                height:30px;
                width:30px;
            }

            .boton-menu {
                left:10px;
                background-image:url(/assets/icons/svg/menu.svg);

            }

            .boton-buscar {
                right: 10px;
                background-image:url(/assets/icons/svg/search.svg);
            } 
        }

        .side {
            display: block;
            position: fixed;
            top: 0;
            background-color: var(--color-corporativo-bg);
            transition: all 0.3s ease-out;
            overflow: auto;
            width:85%;
            height: 100%;
            z-index: 1;
        }

        .menu {
            margin-right: 15%; 
            padding:50px 20px;
            right:85%;

            &.show {
                transform: translate(100%, 0);
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                list-style: none;

                li {
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 10px 0;

                    a {
                        color: $white;
                    }
                }
            }

            .boton-cerrar {
                right: 10px;
            }
        }

        .buscar {
            background-color: var(--bg-color);
            margin-left: 15%; 
            left:85%;

            &.show {
                transform: translate(-100%, 0);
            }

            .boton-cerrar {
                left: 10px;
            }

            .search-container {
                background-color: var(--color-corporativo-bg);
                padding: 60px 20px 30px 20px;

                .label_buscar {
                    font-size: 40px;
                    text-transform: uppercase;
                    color: $white;
                }

                input {
                    padding: 5px 10px;
                    font-size: 15px;
                    height: 40px;
                    border: none;
                }

                .btn {
                    border: 2px solid var(--color-corporativo-bg);
                } 
            }

            .results {
                padding: 20px;

                ul {
                    padding-left: 0;
                    list-style: none;

                    li {
                        padding: 5px;
                        margin-bottom: 10px;
                    }

                    a {
                        display: table;
                        color:var(--font-color);

                        img {
                            display: table-cell;
                            float: left;
                            margin: 0;
                            max-width: 100px;
                            width: 100px;
                        }

                        p {
                            display: table-cell;
                            margin: 0;
                            padding-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .boton-configuracion {
            position: absolute;
            top: 20px;
            background-image: url(/assets/icons/svg/settings.svg);
            height: 24px;
            width: 24px;
            filter: invert(1);
        }

        .boton-cerrar {
            display: block;
            position: absolute;
            top: 10px;
            background-image: url(/assets/icons/svg/close.svg);
            background-size: 100%;
            background-repeat:no-repeat;
            background-color: transparent;
            padding:0;
            border:none;
            height:40px;
            width:40px;
        }
    }

    @include for-tablet-portrait-up {
        .header-nav-mobile, .side {
            display: none;
        }

        display: block;
        text-align: center;


        h1 {
            margin: 0;

            a {
                color: inherit;

                > img {
                    margin:auto;
                    height: 150px;
                }
            }
        }

        .nav {
            display: flex;
            background-color: #252422;
            position: relative;
            top: 2px;
            width: max-content;
            margin: auto;

            .header-nav {
                display: inline-block;

                ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        cursor: pointer;
                        padding:10px; 

                        &:hover {
                            background-color: var(--color-corporativo);
                        }

                        a {
                            color:var(--heading-color);

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    .dropdown {
                        position: relative;

                        &:hover > .dropdown-menu {
                            display: block;
                            opacity: 1;
                        }
                    }

                    .dropdown-menu {
                        display: inline-block;
                        position: absolute;
                        top: 44px;
                        left: 0;
                        display: none;
                        opacity: 0;
                        background-color: #252422;
                        transition: opacity 0.5s ease; 
                        width: max-content;
                        padding: 0;

                        a {
                            color: $white;
                        }
                    }

                    .dropdown-menu-item {
                        cursor: pointer;
                        padding: 1em;

                        &:hover {
                            background-color: var(--color-corporativo);
                        }
                    }
                }     
            }
        }
    }

    @include for-desktop-up {
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 50px;

        h1 a img {
            margin-left: 20px;
        }

        .nav {
            margin: 0;
        }
    }
}
