//Header que incluye la navegación superior en móvil, con ambos sidebars

.header {
    @include for-phone-only {
        h1{
            margin: 0 auto;
            width:70%;
        }
        .header-nav{
            display: none;
        }
        .header-nav-mobile{
            list-style: none;
            li button{
                display: block;
                position: absolute;
                top: 30px; 
                background-repeat:no-repeat;
                background-color: transparent;
                background-size: 100%;
                padding:0px;
                border:none;
                height:30px;
                width:30px;
            }
            .boton-menu{
                left:10px;
                background-image:url(/assets/icons/svg/menu.svg);

            }
            .boton-buscar{
                right: 10px;
                background-image:url(/assets/icons/svg/search.svg);
            } 
        }
        .menu{
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            background-color: $color_corporativo;
            padding:50px 20px;
            margin-right: 15%; 
            overflow: auto;
            box-shadow: 1px 0px 6px;
            width:85%;
            height: 100%;
            ul{
                list-style: none;
                li{
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 10px 0px;
                    a{
                        color:#fff;
                    }
                }
            }
            .boton_cerrar{
                right: 10px;
            }
        }
        .buscar{
            display: block;
            position: fixed;
            right: 0;
            top: 0;
            background-color: #f1f1f1;
            padding: 0px 0px 35px 0px;
            margin-left: 15%; 
            overflow: auto;
            box-shadow: -1px 0px 6px;
            width:85%;
            height: 100%;
            .boton_cerrar{
                left: 10px;
            }
            .search-container{
                background-color: $color_corporativo;
                padding: 60px 20px 30px 20px;
                box-shadow: 0px 1px 10px 0px;
                .label_buscar{
                    font-size: 40px;
                    text-transform: uppercase;
                    color: white;
                }
                input{
                    padding: 5px 10px;
                    font-size: 15px;
                    height: 40px;
                    border: none;
                }
                .btn{
                    border: 2px solid $color_corporativo;
                } 
            }
            .results{
                padding: 20px;
                ul{
                    padding-left: 0px;
                    list-style: none;
                    li{
                        padding: 5px;
                        margin-bottom: 10px;
                    }
                    a{
                        display: table;
                        color:#000;
                        img{
                            display: table-cell;
                            float: left;
                            margin: 0;
                            max-width: 100px;
                            width: 100px;
                        }
                        p{
                            display: table-cell;
                            margin: 0;
                            padding-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .boton_cerrar{
            display: block;
            position: absolute;
            top: 10px;
            background-image: url(/assets/icons/svg/close.svg);
            background-size: 100%;
            background-repeat:no-repeat;
            background-color: transparent;
            padding:0px;
            border:none;
            height:40px;
            width:40px;
        }
    }
    @include for-tablet-portrait-up {
        .header-nav-mobile, .menu_cerrado, .buscar_cerrado{
            display: none;
        }

        display: flex;
        overflow: hidden;
        background-color: #fff;

        h1{
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            color: $gray-4;
            width: 550px;
            height: 200px;

            a {
                color: inherit;
            }
        }
        .header-nav{
            display: inline-block;
            ul{
                display: flex;
                list-style: none;
                li{
                    padding:10px; 
                }
            }     
        }
    }
}
