//Header que incluye la navegación superior en móvil, con ambos sidebars

.header {
    @include for-phone-only {
        h1{
            margin: 0 auto;
            width:70%;
        }
        .header-nav{
            display: none;
        }
        .header-nav-mobile{
            list-style: none;
            li button{
                display: block;
                position: absolute;
                top: 30px; 
                background-repeat:no-repeat;
                background-color: transparent;
                background-size: 100%;
                padding:0px;
                border:none;
                height:30px;
                width:30px;
            }
            .boton-menu{
                left:10px;
                background-image:url(/assets/icons/svg/menu.svg);

            }
            .boton-buscar{
                right: 10px;
                background-image:url(/assets/icons/svg/search.svg);
            } 
        }
        .side{
            display: block;
            position: fixed;
            top: 0;
            background-color: var(--color-corporativo-bg);
            transition: all 0.3s ease-out;
            overflow: auto;
            width:85%;
            height: 100%;
        }
        .menu{
            margin-right: 15%; 
            padding:50px 20px;
            right:85%;

            &.show{
                transform: translate(100%, 0px);
            }

            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                list-style: none;
                li{
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 10px 0px;
                    a{
                        color:#fff;
                    }
                }
            }
            .boton-cerrar{
                right: 10px;
            }
        }
        .buscar{
            background-color: var(--bg-color);
            margin-left: 15%; 
            left:85%;

            &.show{
                transform: translate(-100%, 0px);
            }

            .boton-cerrar{
                left: 10px;
            }
            .search-container{
                background-color: var(--color-corporativo-bg);
                padding: 60px 20px 30px 20px;
                .label_buscar{
                    font-size: 40px;
                    text-transform: uppercase;
                    color: white;
                }
                input{
                    padding: 5px 10px;
                    font-size: 15px;
                    height: 40px;
                    border: none;
                }
                .btn{
                    border: 2px solid var(--color-corporativo-bg);
                } 
            }
            .results{
                padding: 20px;
                ul{
                    padding-left: 0px;
                    list-style: none;
                    li{
                        padding: 5px;
                        margin-bottom: 10px;
                    }
                    a{
                        display: table;
                        color:var(--font-color);
                        img{
                            display: table-cell;
                            float: left;
                            margin: 0;
                            max-width: 100px;
                            width: 100px;
                        }
                        p{
                            display: table-cell;
                            margin: 0;
                            padding-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .boton-cerrar{
            display: block;
            position: absolute;
            top: 10px;
            background-image: url(/assets/icons/svg/close.svg);
            background-size: 100%;
            background-repeat:no-repeat;
            background-color: transparent;
            padding:0px;
            border:none;
            height:40px;
            width:40px;
        }
    }
    @include for-tablet-portrait-up {
        .header-nav-mobile, .side{
            display: none;
        }

        display: flex;

        h1{
            margin: auto;
            width: 550px;
            height: 200px;

            a {
                color: inherit;
            }
        }
        .nav{
            text-align: center;
            .header-nav{
                display: inline-block;
                ul{
                    display: flex;
                    list-style: none;
                    background-color: #aa3d74;
                    padding: 0;

                    li{
                        cursor: pointer;
                        padding:10px; 

                        &:hover {
                            background-color: var(--color-corporativo);
                        }
                        a{
                            color: #fff;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    .dropdown {
                        position: relative;

                        &:hover > .dropdown-menu {
                            display: block;
                            opacity: 1;
                        }
                    }

                    .dropdown-menu {
                        display: inline-block;
                        position: absolute;
                        top: 44px;
                        left: 0px;
                        display: none;
                        opacity: 0;
                        background-color: var(--color-corporativo);
                        transition: opacity 0.5s ease; 
                        width: max-content;
                        padding: 0;

                        a {
                            color: #fff;
                        }
                    }

                    .dropdown-menu-item {
                        cursor: pointer;
                        padding: 1em;

                        &:hover {
                            background-color: var(--color-corporativo);
                        }
                    }
                }     
            }
        }
    }
}
