// Layout general que organiza los elementos con grid

.header {
    grid-area: header;
}
.main-content {
    grid-area: content;
    min-height: 70vh;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}
.content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "header"
    "content"
    "sidebar"
    "footer";

    @include for-tablet-portrait-up {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "header  header"
        "content sidebar"
        "footer  footer";
    }
}

