// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "content"
    "sidebar"
    "footer";
}

.header {
  grid-area: header;
}
.main-content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
@media (min-width: 500px) {
  .container {
    max-width: 80%;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
      "header  header"
      "content sidebar"
      "footer  footer";
  }
}

