// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include for-tablet-portrait-up {
        width: 90%;
    }
    @include for-big-desktop-up {
        width: 80%;
    }
}

.header {
    grid-area: header;
}
.main-content {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}
.content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "header"
    "content"
    "sidebar"
    "footer";

    @include for-tablet-portrait-up {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "header  header"
        "content sidebar"
        "footer  footer";
    }
}

