// Masthead
//
// Super small header above the content for site name and short description.

.header {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  h1{
    width:70%;
    margin: 0 auto;
  }
  .header-nav{
    list-style: none;
    li button{
      display: block;
      position: absolute;
      top: 0; 
    }
    .boton-menu{
      left:0;
      background-image:url(/assets/iconos/menu.png);
      background-repeat:no-repeat;
      height:40px;
      width:40px
    }
    .boton-buscar{
      right: 0;
    } 
  }
  .menu_abierto{
    display: block;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    margin-right: 15%; 
    top: 0;
  }
  .menu_cerrado{
    display: none;
  }
  .buscar_abierto{
    display: block;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
    margin-left: 15%; 
    top: 0;
  }
  .buscar_cerrado{
    display: none;
  }

}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

