// Masthead
//
// Super small header above the content for site name and short description.

.header {

  h1{
    width:70%;
    margin: 0 auto;
  }
  .header-nav{
    list-style: none;
    li button{
      display: block;
      position: absolute;
      top: 30px; 
      background-repeat:no-repeat;
      background-color: transparent;
      background-size: 100%;
      padding:0px;
      border:none;
      height:30px;
      width:30px;
    }
    .boton-menu{
      left:10px;
      background-image:url(/assets/icons/menu.png);

    }
    .boton-buscar{
      right: 10px;
      background-image:url(/assets/icons/search.png);
    } 
  }
  .menu_abierto{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $color_corporativo;
    padding:35px 20px;
    margin-right: 15%; 
    overflow: auto;
    width:85%;
    height: 100%;
    ul{
        list-style: none;
        li{
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px 0px;
          a{
            color:#fff;
          }
        }
    }
    .boton_cerrar{
      right: 10px;
    }
  }
  .menu_cerrado{
    display: none;
  }
  .buscar_abierto{
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    background-color: $color_corporativo;
    padding:35px 20px;
    margin-left: 15%; 
    overflow: auto;
    height: 100%;
    width:85%;
    .search-container{
        margin-top: 30px;
        input{
          border: none;
          padding: 5px 10px;
          font-size: 15px;
        }
    }
    ul{
        padding-left: 0px;
        list-style: none;
        li{
            padding-top:10px;
        }
        a{
            display: table;
            color:#fff;
            img{
                display: table-cell;
                float: left;
                margin: 0;
                max-width: 100px;
                width: 100px;
            }
            p{
                display: table-cell;
                margin: 0;
                padding-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .boton_cerrar{
      left: 10px;
    }
  }
  .buscar_cerrado{
    display: none;
  }
  .boton_cerrar{
    display: block;
    position: absolute;
    top: 10px;
    background-image: url(/assets/icons/close.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: transparent;
    padding:0px;
    border:none;
    height:40px;
    width:40px;
  }

}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

