//Paginación
.pagination {
    color: #757575;
    text-align: center;

    a.pagination-item {
        background-color: var(--color-corporativo);
        &:hover {
            background-color: #f5f5f5;
        }
    }
    span.pagination-item{
        background-color: #D6D6D6;
    }

    .pagination-item {
        float:left;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;

        &:first-child {
            background-image: url(/assets/icons/svg/chevron-left-white.svg);
        }
        &:last-child {
            background-image: url(/assets/icons/svg/chevron-right-white.svg);
            float:right;
        }
    }

    .numero_paginas{
        line-height: 50px; 
    }

}

