//Estilos de la vista de lista de posts, el post, las tags, comentarios y posts relacionados

.posts{
    @include for-tablet-portrait-up {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    @include for-tablet-landscape-up {
        grid-template-columns: repeat(3, 1fr);
    }
    @include for-big-desktop-up {
        grid-template-columns: repeat(4, 1fr);
    }
}

.post{
    font-family: "Franklin";
    margin-bottom: 20px;

    .post_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    img{
        @include for-phone-only {
           width: 100%; 
        }
        max-width: 400px;
    }
    .post-title{
        display: inline;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
        a{
            color: var(--font-color);
        }
    }

    .share-button{
        float: right;
        border: none;
        height: 24px;
        width: 24px;
        background: transparent;
        background-image: url(/assets/icons/svg/share.svg);
    }

    .post-date {
        display: block;
        color: var(--font-color);
        margin-bottom:10px;
    }
}


.tag_article{
    display: block;
    margin-top: 10px;
    a{
        margin: 5px 0px;
        display: inline-block;
        color: var(--color-corporativo);

        @include for-phone-only {
            margin: 10px 0px;
        }
    }
    code {
        padding: 5px;
        font-size: 14px;
        background-color: var(--color-code);
        border-radius: 5px;
    }
}

.comentarios{
    h3{
        color: var(--color-corporativo);
        &:before{
            margin-bottom: 10px;
            content: "";
            display: block;
            color: #aa3d74;
            width: 50px;
            height: 4px;
            background-color: var(--color-corporativo);
        }
    }

    input, textarea, label{
        display: block;
        width: 100%;
    }

    input, textarea{
        padding: 10px 7px;
        color: var(--font-color);
        font-size: 18px;
        background: var(--form-bg-color);
        border: 1px solid var(--form-border-color);
        border-radius: 2px;
    }

    .grupo_form{
        margin-bottom: 10px;
    }

    @include for-tablet-landscape-up {
        .grupo_form{
            display: flex;
            label{
                padding-right: 10px;
            }
        }
    }

    button{
        border-radius: 4px;
        border: 0;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        padding: 10px 15px;
        background-color: var(--color-corporativo);
    }
    .comentario{
        .datos{
            border-bottom: 2px solid;
        }
        .nombre{
            font-weight: 600;
            color: #313131;
        }
        .fecha a{
            color: #515151;
        }
    }

    .hidden{
        display: none;
    }
    .aviso{
        margin-top: 10px;
        border: 3px solid var(--color-corporativo);
        padding: 10px;   

        p{
            color: var(--color-corporativo);
            margin-bottom: 0;
        }
    }
}

.share{

    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-top: 10px;
        li{
            padding: 0px 10px;
            display: inline;
        }
        li:before{
            content: " ";
            width: 24px;
            height: 24px;
            position: absolute;
        }
        .twitter:before {
            background-image: url(/assets/icons/svg/twitter.svg);
        }
        .facebook:before {
            background-image: url(/assets/icons/svg/facebook.svg);
        }
        a{
            display: inline-block;
            height: 30px;
            width: 30px;
            padding-left: 30px;
            padding-right: 40px;
        }
    }

}
.related {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.related-posts {
    padding-left: 0;
    list-style: none;

    li {
        padding: 5px 0px;
        small {
            font-size: 75%;
            color: #6B6B6B;
        }

        a{
            display: flex;

            img{
                width: 100px;
                height: 70px;
                margin: 0;
                object-fit: cover;
            }
            p{
                margin: 0;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover {
                text-decoration: none;

                small {
                    color: inherit;
                }
            }
        }
    }
}
