//Estilos de la vista de lista de posts, el post, las tags, comentarios y posts relacionados

.posts{
    @include for-tablet-portrait-up {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    @include for-tablet-landscape-up {
        grid-template-columns: repeat(3, 1fr);
    }
    @include for-big-desktop-up {
        grid-template-columns: repeat(4, 1fr);
    }
}

.post{
    font-family: "Franklin";
    margin-bottom: 20px;

    .post_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .post-title{
        margin-bottom: 5px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
        a{
            color: #303030;
        }
    }

    .post-date {
        display: block;
        color: #595959;
        margin-bottom:10px;
    }
}


.tag_article{
    display: block;
    margin-top: 10px;
    a{
        margin: 5px 0px;
        display: inline-block;

        @include for-phone-only {
            margin: 10px 0px;
        }
    }
    code {
        padding: 5px;
        font-size: 14px;
        color: $color_corporativo;
        background-color: #fdf0f0;
        border-radius: 5px;
    }
}

.comentarios{
    fieldset{
        border: none;    
    }
    .comentario{
        .datos{
            border-bottom: 2px solid;
        }
        .nombre{
            font-weight: 600;
            color: #313131;
        }
        .fecha a{
            color: #515151;
        }
    }
}

.related {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.related-posts {
    padding-left: 0;
    list-style: none;

    li {
        padding: 5px 0px;
        small {
            font-size: 75%;
            color: #6B6B6B;
        }

        a:hover {
            text-decoration: none;

            small {
                color: inherit;
            }
        }
    }
}
