.enlace_foto{
	height:150px;
	margin-bottom:30px;
	text-align:center;
	background-position: center;
    background-size: cover;
	h2{
	    text-transform:uppercase;
	    line-height: 136px;
	 	margin: 0px;
	}
	a{
		text-decoration:none !important;
		color:#fff !important;
	}
}

.enlace_foto:hover{
    h4{
        color: #827653;
    }
}

.alfabetico{
	background-image:url(https://1.bp.blogspot.com/-3BY84rvO9Ls/VzJB1EVu7fI/AAAAAAAACqc/QlgTIhhH0Lc9-dKbuG4IULvunAbUINUOACLcB/s1600/01.JPG);
    h4{
	    margin-top: 0px;
	    padding-top: 30px;
        font-size: 90px;
        line-height: 90px;
        color: white;
        margin-bottom: 0px;
	}
} 
