
:root {
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;

    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --heading-color: #fff;
    
    --color-code: #fdf0f0;
    --color-corporativo: #aa3d74;
    --color-corporativo-bg: #aa3d74;
    --bg-color: #fff;
    --link-color: #2179BF;
    --form-bg-color: #f2f2f2;
    --form-border-color: #f2f2f2;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #F7ECF1;
    --bg-color: #111;
    --heading-color: #fff;

    --color-code: #fdf0f0;
    --color-corporativo: #aa3d74;
    --color-corporativo-bg: #331223;
    --link-color: #DDB1C7;
    --form-bg-color: #292929;
    --form-border-color: #3e3e3e;
}

$pintxos: #9a7ab1;
$verduras: #5a9757;
$cremas: #cebf66;
$arroz: #efec23;
$legumbres:#9d9459;
$huevos: #ffb756;
$carnes: #db538b;
$pescados:#55b1dd;
$postres: #ce93af;
$pan: #f4e6be;
$todos: #646464;


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1350px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

