---
layout: default
---

<h2>{{ page.title }}</h2>

<div class="posts">
  {% for post in site.categories[page.tag] %}
  <article class="post" id="post{{ forloop.index }}">
  {% capture src %}
  {% include get_image_post_src.html %}
  {% endcapture %}
  {% assign src = src | strip %}
  <img class="post_image" src="{{src}}"/>
    <h3 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
	{% include fecha.html %}
  </time>

  {% include tags.html scope=post %}
  
  </article>
    <script>
        var post_article=document.getElementById("post{{ forloop.index }}");
        for (i = 0; i < post_article.getElementsByTagName("img").length; i++) {
            if(post_article.getElementsByTagName("img")[i].getAttribute("alt")==null){
                post_article.getElementsByTagName("img")[i].setAttribute("alt","{{ post.title }}"+i);
            }
        }
    </script>
  {% endfor %}
</div>
