---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
      {% include fecha.html scope=page%}
  </time>
  {% assign autor = site[page.author] %}
  <!--  <span><a href="/autor/{{ page.author }}"> {{ autor.name }}</a></span> -->
  {{ content }}
	
  {% include tags.html scope=page %}

</article>
<div class="share">
    <h3>Compartir con</h3> 
    <ul>
        <li class="twitter"><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title | url_escape }}" title="Compartir con Twitter" target="_blank">Twitter</a></li>
        <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title | url_escape }}" title="Compartir con Facebook" target="_blank">Facebook</a></li>
    </ul>
</div>

<aside class="related">
  <h3>Recetas relacionadas</h3>

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}
  {% assign randomPosts = site.posts | sample: site.posts.size %}
  <ul class="related-posts">

      {%- for post in randomPosts -%}

      {% assign sameTagCount = 0 %}

      {%- for category in post.categories -%}
      {% if post.url != page.url %}
      {% if page.categories contains category %}
      {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
      {% endif %}
      {%- endfor -%}

      {% if sameTagCount >= minCommonTags %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{% include fecha.html scope=post%}</small>
          </a>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
      {% break %}
      {% endif %}
      {% endif %}

      {%- endfor -%}
  </ul>
</aside>
{% include comments.html %}

<script>
    var post_article=document.getElementsByTagName("article")[0];
for (i = 0; i < post_article.getElementsByTagName("img").length; i++) {
    if(post_article.getElementsByTagName("img")[i].getAttribute("alt")==null){
        post_article.getElementsByTagName("img")[i].setAttribute("alt","{{ page.title }}"+i);
    }
}
</script>
