---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
      {% include fecha.html %}
  </time>
  {% assign autor == site[page.author] %}
  <span><a href="/autor/bernardo{{ autor.name }}"> {{ page.author }}</a></span>
  {{ content }}
<span class="tag_article">
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code><nobr>{{ tag_name }}</nobr></code></a>
  {% endfor %}
</span>
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Recetas relacionadas</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{% include fecha.html %}  </small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
<script>
    var post_article=document.getElementsByTagName("article")[0];
    for (i = 0; i < post_article.getElementsByTagName("img").length; i++) {
        if(post_article.getElementsByTagName("img")[i].getAttribute("alt")==null){
            post_article.getElementsByTagName("img")[i].setAttribute("alt","{{ page.title }}"+i);
        }
    }
</script>
