---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
      {% include fecha.html %}
  </time>
  {% assign autor = site[page.author] %}
  <!--  <span><a href="/autor/{{ page.author }}"> {{ autor.name }}</a></span> -->
  {{ content }}
	
  {% include tags.html scope=page %}

</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Recetas relacionadas</h3>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

  <ul class="related-posts">
{% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{% include fecha.html %}</small>
        </a>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
  </ul>
</aside>
{% endif %}
{% include comments.html %}

<script>
    var post_article=document.getElementsByTagName("article")[0];
    for (i = 0; i < post_article.getElementsByTagName("img").length; i++) {
        if(post_article.getElementsByTagName("img")[i].getAttribute("alt")==null){
            post_article.getElementsByTagName("img")[i].setAttribute("alt","{{ page.title }}"+i);
        }
    }
</script>
